
@{
    /**/

    ViewBag.Title = "LOJAWEB - CATEGORIA";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section Title{
    <h4 class="page-title">CATEGORIAS</h4>

}

@section head {
    <link href=@Url.Content("/Content/plugins/bower_components/datatables/jquery.dataTables.min.css") rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!--alerts CSS -->
    <link href=@Url.Content("/Content/plugins/bower_components/sweetalert/sweetalert.css") rel="stylesheet" type="text/css">
    <!-- page CSS -->
    <link href=@Url.Content("/Content/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content/plugins/bower_components/custom-select/custom-select.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Content//plugins/bower_components/switchery/dist/switchery.min.css") rel="stylesheet" />
    <link href=@Url.Content("/Content/plugins/bower_components/bootstrap-select/bootstrap-select.min.css") rel="stylesheet" />
    <link href=@Url.Content("/Content/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css") rel="stylesheet" />
    <link href=@Url.Content("/Content/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css") rel="stylesheet" />
    <link href=@Url.Content("/Content/plugins/bower_components/multiselect/css/multi-select.css") rel="stylesheet" type="text/css" />
}


@section page {

    <div class="col-sm-12">
        <div class="white-box">
            <div class="pull-right">
                <button data-toggle="modal" onclick="add_cat()" class="btn btn-success waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-save"></i></span>CADASTRAR</button>
            </div>


            <p class="text-muted m-b-30">Lista de Categorias</p>
            <div class="table-responsive">
                <table id="example23" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Super Categoria</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tbdist"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalsave" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#2f323e">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLargeModalLabel" style="color:white">CADASTRO CATEGORIAS</h4>
                </div>
                <div class="modal-body">

                    <form id="f_save_cat" data-toggle="validator" class="form-horizontal">
                        <div class="form-group">
                            <label class=" control-label col-xs-3 col-sm-3" for='PDV_CAT'>TIPO CATEGORIA </label>
                            <div class="col-xs-8 col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="sub" checked>SUB
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="super">SUPER
                                </label>

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputName4" class="control-label col-xs-3 col-sm-3"> NOME CATEGORIA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputName4" minlength="3" maxlength="100" placeholder="Preencha com Nome" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group camposExtras">
                            <label class=" control-label col-xs-3 col-sm-3" for='selectcat'> SUPER CATEGORIA</label>
                            <div class="col-xs-8 col-sm-8">

                                <select id="selectcat" name="selectcat" class="form-control select2 col-xs-9" required>
                                    <option value="test" selected>Opcões</option>
                                </select>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary waves-effect text-left" data-tooltip="tooltip">Guardar</button>

                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->
    <!-- /.modal-dialog -->
    <div class="modal fade bs-example-modal-lg" id="modalsave" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#2f323e">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLargeModalLabel" style="color:white">CADASTRO CATEGORIAS</h4>
                </div>
                <div class="modal-body">

                    <form id="f_save_cat" data-toggle="validator" class="form-horizontal">
                        <div class="form-group">
                            <label class=" control-label col-xs-3 col-sm-3" for='PDV_CAT'>TIPO CATEGORIA </label>
                            <div class="col-xs-8 col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="sub" checked>SUB
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" value="super">SUPER
                                </label>

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="inputName4" class="control-label col-xs-3 col-sm-3"> NOME CATEGORIA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputName4" minlength="3" maxlength="100" placeholder="Preencha com Nome" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group camposExtras">
                            <label class=" control-label col-xs-3 col-sm-3" for='PDV_CAT'> SUPER CATEGORIA</label>
                            <div class="col-xs-8 col-sm-8">

                                <select id="selectcat" name="selectcat" class="form-control select2 col-xs-9" required>
                                    <option value="test" selected>Opcões</option>
                                </select>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary waves-effect text-left" data-tooltip="tooltip">Guardar</button>

                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->

    <div class="modal fade bs-example-modal-lg" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#2f323e">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLargeModalLabel" style="color:white">CADASTRO CATEGORIAS</h4>
                </div>
                <div class="modal-body">

                    <form id="f_edit_cat" data-toggle="validator" class="form-horizontal">

                        <input type="hidden" id="custId" name="custId" />
                        <div class="form-group">
                            <label class=" control-label col-xs-3 col-sm-3" for='PDV_CAT'>TIPO CATEGORIA </label>
                            <div class="col-xs-8 col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="optradio_edit" id="op1" value="sub" checked>SUB
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio_edit" id="op2" value="super">SUPER
                                </label>

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="edt_inputName4" class="control-label col-xs-3 col-sm-3"> NOME CATEGORIA</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="edt_inputName4" id="edt_inputName4" minlength="3" maxlength="100" placeholder="Preencha com Nome" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group edit_camposExtras">
                            <label class=" control-label col-xs-3 col-sm-3" for='edit_selectcat'> SUPER CATEGORIA</label>
                            <div class="col-xs-8 col-sm-8">

                                <select id="edit_selectcat" name="edit_selectcat" class="form-control select2 col-xs-9" required>
                                    <option value="test" selected>Opcões</option>
                                </select>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btnEdit" class="btn btn-primary waves-effect text-left" data-tooltip="tooltip">Guardar</button>

                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal -->



}

@section scripts {
    <script src=@Url.Content("/Content/plugins/bower_components/datatables/jquery.dataTables.min.js")></script>
    <!-- start - This is for export functionality only -->

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script src=@Url.Content("/Content/plugins/bower_components/switchery/dist/switchery.min.js")></script>
    <script src=@Url.Content("/Content/plugins/bower_components/custom-select/custom-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("/Content/plugins/bower_components/bootstrap-select/bootstrap-select.min.js") type="text/javascript"></script>
    <script src=@Url.Content("/Content/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js")></script>
    <script src=@Url.Content("/Content/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js") type="text/javascript"></script>
    <script type="text/javascript" src=@Url.Content("/Content/plugins/bower_components/multiselect/js/jquery.multi-select.js")></script>
    <script src=@Url.Content("/Content/js/validator.js")></script>
    <script src=@Url.Content("/Content/plugins/bower_components/sweetalert/sweetalert.min.js")></script>
    <script src=@Url.Content("/Content/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js")></script>
    <script>
        // For select 2


        $('#example23').DataTable({
            "language": {
                "search": "Pesquisar",
                "lengthMenu": "Mostrando  _MENU_ registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(Filtrado de _MAX_ entradas)",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum resultado encontrado",
                "paginate": {
                    "first": "Primeiro",
                    "previous": "Anterior",
                    "next": "Seguinte",
                    "last": "Ultimo"
                }
            },
            "ajax": {
                "url": '@Url.Action("showCategorias", "Categoria")',
                "type": "GET",
                "dataSrc": ""
            },

            "columns": [
                { "data": "id_cat_pk", 'width': '10%' },
                { "data": "desc_cat", 'width': '15%' },
                { "data": "fk_cat_super", 'width': '15%' },
                {
                    "data": null, 'width': '20%',
                    "render": function (data, type, row) {
                        if (data.status == 1) {
                            return '<span class="label label-success">Ativo</span>';
                        } else {
                            return '<span class="label label-danger">Inativo</span>';
                        }
                    },
                },
                {
                    "data": null, 'width': '20%',
                    "render": function (data, type, row) {
                        return '<button data-toggle="tooltip" data-placement="top" title = "Editar" style="font-size: 12px ; padding: 0px 3px;" class="btn btn-primary" onclick="edit_cat(' + data.id_cat_pk + ')"><i class="glyphicon glyphicon-pencil"></i></button><button data-toggle="tooltip" data-placement="top" title = "Mudar Status" style="font-size: 12px ; padding: 0px 3px;" class="btn btn-warning" onclick="mudar_status(' + data.id_cat_pk + ')"><i class="glyphicon glyphicon-ban-circle"></i></button><button data-toggle="tooltip" data-placement="top" title = "Excluir Categoria" style="font-size: 12px ; padding: 0px 3px;" class="btn btn-danger" onclick="excluircat(' + data.id_cat_pk + ')"><i class="glyphicon glyphicon-remove"></i>';
                    },
                }
            ],

            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>

    <script type="text/javascript">

        $('input[name="optradio"]').change(function () {
            if ($('input[name="optradio"]:checked').val() === "sub") {
                $('.camposExtras').show();
            } else {
                $('.camposExtras').hide();
            }


        });




        $(".select2").select2();
        /* $(".caixa_alta").keyup(function () {
             $(this).val($(this).val().toUpperCase());
         });*/
        $(document).ready(function () {

            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/Categoria/listCategorias',
                success: function (data, textStatus, jqXHR) {
                    //alert(response);
                    console.log(data);
                    var selectbox = $('#selectcat');
                    $.each(data, function (i, d) {
                        selectbox.append('<option value="' + d.id_cat_pk + '">' + d.desc_cat + '</option>');
                    });
                },
                error: function (data, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });

        });
        $(document).ready(function () {

            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/Categoria/listCategorias',
                success: function (data, textStatus, jqXHR) {
                    //alert(response);
                    console.log(data);
                    var selectbox = $('#edit_selectcat');
                    $.each(data, function (i, d) {
                        selectbox.append('<option value="' + d.id_cat_pk + '">' + d.desc_cat + '</option>');
                    });
                },
                error: function (data, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });

        });

         $('input[name="optradio_edit"]').change(function () {
            if ($('input[name="optradio_edit"]:checked').val() === "sub") {
                $('.edit_camposExtras').show();
            } else {
                $('.edit_camposExtras').hide();
            }


        });
        //edit_selectcat
        function add_cat() {

            $('#f_save_cat')[0].reset();

            $('#modalsave').modal('show');
        }

        //EDIT
        function edit_cat(id) {

            $('#f_edit_cat')[0].reset();
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/Categoria/getCategorias/'+id,
                success: function (data, textStatus, jqXHR) {
                    //alert(response);
                    console.log(data[0].desc_cat);

                    $("#edt_inputName4").val(data[0].desc_cat);
                    $("#custId").val(data[0].id_cat_pk);

                    if (data[0].fk_cat_super > 0) {
                        $("#op1").prop("checked", true);
                        $("#edit_selectcat").val(data[0].fk_cat_super).change();
                        $('.edit_camposExtras').show();
                    } else {
                        $("#op2").prop("checked", true);
                        $('.edit_camposExtras').hide();
                    }

                },
                error: function (data, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });

            $('#modaledit').modal('show');
        }


        //funcao jquery salvar categoria
        $("#btnEdit").click(function () {
            supercat = $("#edit_selectcat").val();
            opcao = $('input[name="optradio_edit"]:checked').val();
            id = $("#custId").val();
            console.log(id);
            console.log(supercat);
            console.log("radio "+opcao);
            if ($('input[name="optradio_edit"]:checked').val() === "sub" && supercat > 0) {

                var ct = {};
                ct.id_cat_pk = $("#custId").val();
                ct.desc_cat = $("#edt_inputName4").val();
                ct.fk_cat_super = $("#edit_selectcat").val();
                console.log(ct);
                edit(ct);

            }

            if ($('input[name="optradio_edit"]:checked').val() === "super") {
                var ct = {};
                ct.id_cat_pk = $("#custId").val();
                ct.desc_cat = $("#edt_inputName4").val();
                console.log(ct);
                edit(ct);
            }
        });


        //ajax alterar Categoria
        function edit(ct) {

             $.ajax({
                type: "POST",
                url:'@Url.Action("updateCategoria", "Categoria")',
                data: '{ct: ' + JSON.stringify(ct) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    swal({
                        title: 'CADASTRO REALIZADO!',
                        text: 'Dados cadastrados com sucesso',
                        type: 'success',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });
                    $("#modalsave").modal('hide');
                    location.reload();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        title: 'AVISO!',
                        text: 'Error - ' + errorThrown,
                        type: 'warning',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });

                }
            });

        }

        function edit(ct) {

             $.ajax({
                type: "POST",
                url:'@Url.Action("updateCategoria", "Categoria")',
                data: '{ct: ' + JSON.stringify(ct) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    swal({
                        title: 'CADASTRO REALIZADO!',
                        text: 'Dados cadastrados com sucesso',
                        type: 'success',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });
                    $("#modalsave").modal('hide');
                    location.reload();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        title: 'AVISO!',
                        text: 'Error - ' + errorThrown,
                        type: 'warning',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });

                }
            });

        }
        //function save
        $("#btnSave").click(function () {
            supercat = $("#selectcat").val();
            opcao = $('input[name="optradio"]:checked').val();
            console.log(supercat);
            console.log(opcao);
            if ($('input[name="optradio"]:checked').val() === "sub" && supercat > 0) {

                var ct = {};
                ct.desc_cat = $("#inputName4").val();
                ct.fk_cat_super = $("#selectcat").val();
                console.log(ct);
                save(ct);

            }

            if ($('input[name="optradio"]:checked').val() === "super") {
                var ct = {};
                ct.desc_cat = $("#inputName4").val();
                console.log(ct);
                save(ct);
            }
        });


        function save(ct) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("createCategoria", "Categoria")',
                data: '{ct: ' + JSON.stringify(ct) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    swal({
                        title: 'CADASTRO REALIZADO!',
                        text: 'Dados cadastrados com sucesso',
                        type: 'success',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });
                    $("#modalsave").modal('hide');
                    location.reload();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal({
                        title: 'AVISO!',
                        text: 'Error - ' + errorThrown,
                        type: 'warning',
                        html: true,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: 'Aceitar',
                    });

                }
            });

        }

        function excluircat(id) {

            swal({
                title: "Tem certeza que você quer excluir a categoria "+id+"?",
                text: "A categoria escolhida não ficará mais disponivel",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Sim,Continuar!",
                cancelButtonText:"Cancelar",
                closeOnConfirm: false
            },
                function () {
                        $.ajax({
                        type: "POST",
                        url: '@Url.Action("deleteCategoria", "Categoria")',
                         data: '{id: ' + JSON.stringify(id) + '}',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data);
                            swal({
                                title: 'CATEGORIA EXCLUIDA',
                                text: 'Exclusao Realizada com sucesso',
                                type: 'success',
                                html: true,
                                confirmButtonClass: 'btn-warning',
                                confirmButtonText: 'Aceitar',
                            });
                            location.reload();


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            swal({
                                title: 'AVISO!',
                                text: 'Error - ' + errorThrown,
                                type: 'warning',
                                html: true,
                                confirmButtonClass: 'btn-warning',
                                confirmButtonText: 'Aceitar',
                            });

                        }
                        });

            });


        }

        function mudar_status(id) {

            swal({
                title: "Tem certeza que você quer alterar o status da categoria "+id+"?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Sim,Continuar!",
                cancelButtonText:"Cancelar",
                closeOnConfirm: false
            },
                function () {
                        $.ajax({
                        type: "POST",
                        url: '@Url.Action("statusCategoria", "Categoria")',
                         data: '{id: ' + JSON.stringify(id) + '}',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data);
                            swal({
                                title: 'CATEGORIA ALTERADA',
                                text: 'Status alterado com sucesso',
                                type: 'success',
                                html: true,
                                confirmButtonClass: 'btn-warning',
                                confirmButtonText: 'Aceitar',
                            });
                            location.reload();


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            swal({
                                title: 'AVISO!',
                                text: 'Error - ' + errorThrown,
                                type: 'warning',
                                html: true,
                                confirmButtonClass: 'btn-warning',
                                confirmButtonText: 'Aceitar',
                            });

                        }
                        });

            });


        }
    </script>

    <!--Style Switcher -->
    <script src=@Url.Content("/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")></script>

}
